*{ margin: 0; padding: 0;font-weight: 300;}
.transition-ease,.social_network,a,.menu_item{
	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; 
  transition: all 0.2s ease-in-out;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-weight: 600;}
a,a:hover{text-decoration: none; color: inherit}
.ul--text ul, .ul--text ol{list-style: inside;}
.w-100{height: auto}
.w-60{width: 60%;}
.w-40{width: 40%;}
.bg-image{ background-position: center; background-repeat: no-repeat; background-size: cover; }
.font-small{font-size: 13px;}
.pointer{cursor: pointer;}
/*HEADER's*/
.header__alert{ font-size: 14px; padding: 8px; }
#header.scroll{box-shadow: 1px 0px 20px rgba(0,0,0,0.1);}
.header__main_box{
  align-items: center;
  justify-content: space-between;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.header__user-options{display: inline-table; }
.btn-menu-open{font-size: 24px; line-height: 0;}
.header__dropdown{display: inline-block; }
.dropdown-menu{
  border: 0;
  box-shadow: 0px 0px 15px -2px rgb(0 0 0 / 15%);
  padding: 0;
  overflow: hidden;
}
.notification__box{ max-height: 250px; width: 250px; overflow-y: scroll; }
.notification__box::-webkit-scrollbar {-webkit-appearance: none;}
.notification__box::-webkit-scrollbar:vertical {width:6px;}
.notification__box::-webkit-scrollbar-button:increment,
.notification__box::-webkit-scrollbar-button {display: none;} 
.notification__box::-webkit-scrollbar:horizontal {height: 5px;}
.notification__box::-webkit-scrollbar-thumb {background-color: #c1c1c1;border-radius: 0px;border: 0px solid #FFFFFF;}
.notification__box::-webkit-scrollbar-track {border-radius: 0px;}
.notification__box_inactive{
  height: 95px;
  padding: 10px 15px;
  text-align: center;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6b6b6c;
}
.btn-notification{margin-left: 6px;}
.btn-notification--icon{ position: relative; font-size: 17px; line-height: 0; color: #3f3f3f; }
.btn-notification--icon.active{ color: #000000; }
.btn-notification--icon.active::after{
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  top: -1px;
  border-radius: 50%;
  right: -1px;
  border: 1px solid #FFFFFF;
}
.notification__item {  
  margin: 15px 10px 15px 17px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}
.notification__header{ display: flex; flex-wrap: wrap;}
.notification__ttl{ width: calc(100% - 30px); font-weight: 600; margin-bottom: 2px; color: #515151;}
.notification__txt{margin-bottom: 5px; font-size: 14px; }
.notification__txt a{font-weight: 400; text-decoration-line: underline; }
.notification__date{font-size: 12px; margin: 0; color: #797979; text-align: right; width: 100%;}
.notification__buttons{ width: 30px;text-align: center; }
.btn-notification-delete{ color: #b1afaf; padding: 0; font-size: 15px; }
.user_menu__item{
  padding: 9px 22px;
  border-bottom: 1px solid #e8e8e8;
  font-size: 15px;
}
.user_menu__icon{ margin-right: 9px; color: #989898; font-size: 18px;}

#menu_header,.submenu{ list-style: none; margin:0; padding: 0;}
.header__menu.responsive .menu_link{font-size: 17px; margin-bottom: 8px; display: inline-block;}
.menu_item.has_child .menu_link::after {
  font-size: 12px;
  content: '\F282';
  margin-left: 4px;
  font-family: 'bootstrap-icons';
  position: relative;
  top: 2px;
  line-height: 0;
}
#menu_container.responsive{
  padding: 40px 20px 30px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100vw);
}
.submenu__container{ position: absolute; visibility: hidden; opacity: 0; padding: 20px 20px; z-index: -1;}
.submenu__container.responsive{top: 0;overflow-y: scroll; height: 100vh; }
.submenu__container.responsive::-webkit-scrollbar {-webkit-appearance: none;}
.submenu__container.responsive::-webkit-scrollbar:vertical {width:6px;}
.submenu__container.responsive::-webkit-scrollbar-button:increment,
.submenu__container.responsive::-webkit-scrollbar-button {display: none;} 
.submenu__container.responsive::-webkit-scrollbar:horizontal {height: 5px;}
.submenu__container.responsive::-webkit-scrollbar-thumb {background-color: #c1c1c1;border-radius: 0px;border: 0px solid #FFFFFF;}
.submenu__container.responsive::-webkit-scrollbar-track {border-radius: 0px;}
.submenu__container.open { visibility: visible; opacity: 1;z-index: 9999; }
.submenu_link{ text-decoration: none; font-size: 13px; display: inline-block; }
.submenu_close { position: absolute; right: 15px; top: 15px; cursor: pointer; }
.submenu__container.responsive .submenu_link{margin: 4px 0;}
/*header-style-1*/
.header_logo_img{max-height: 60px;}
.header-style-1--logo{padding: 0 0 0 25px;}
.header-style-1--user-options { padding-right: 0; }
.header-style-1--btn{ padding: 23px 8px; display: inline-block; text-align: center; font-size: 14px; position: relative;}
.header-style-1--btn-user{padding: 21.3px 9px; margin-left: 9px; font-size: 15px;border-radius: 0px;}
.header-style-1--btn-user.active-user{padding: 22.3px 9px;}
.header-style-1--btn-menu{padding: 21.5px 8px; border: 0; border-radius: 0;}
.header-style-1--cart-count{
  position: absolute;
  top: 11px;
  left: 18px;
  border-radius: 50%;
  padding: 2.15px 4px;
  font-size: 12px;
}
.header-style-1-submenu-container {
  left: 0;
  right: 0;
  border-top: 1px solid #d5d5d5;
}
/*header-style-2*/
.header-style-2--main{padding: 8px 25px;}
.header-style-2--menu{
  text-align: right;
  transform: translateX(100vw);
  width: 230px;
  position: fixed;
  right: 0;
  padding: 20px 25px;
  height: 100%;
  z-index: 9999;
  box-shadow: -7px 8px 10px 0px rgba(0, 0, 0, 0.08);
}
.header-style-2--logo .header_logo_img{padding: 6px 0px;}
.header-style-2--btn {
  margin: 0 4px;
  padding: 7px 22px;
  padding: 7px 13px;
  font-size: 14px;
  border-radius: 5px; 
  background-color: rgba(0,0,0,.25);
}
.header-style-2--btn-menu{ padding: 4px 11px; margin-left: 15px; }
.header-style-2--cart-count{margin-left: 3px;  font-weight: bold;}
.header-style-2--btn-user{font-size: 14px;}
.header-style-2--menu .menu_link{ font-size: 15px; display: inline-block; margin: 4px 0; }
.header-style-2-submenu-container{ right: 0; overflow-y: scroll; height: calc(100vh - 112px);width: 250px; }
.header-style-2--menu.responsive{transform: translateX(100vw) !important;top: 113px !important; left: auto !important; }
/*END HEADER's*/

.btn-user,#search_btn,#menu_btn,#count_cart{cursor:pointer; display: inline-block;}
.btn-menu-close, .btn-submenu-close {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
  color: #444444;
  font-size: 21px;
}
.alert-cart{position: absolute;right: 0%;top: 100%;z-index: 999;width:300px;border-radius: 0px; background-color: #ffffff;border-color:#c6c8ca;color:#000000;}
.alert-cart>.succes{color:#155724 !important;}
.alert-cart>.error{color:#721c24 !important;}
#overlay-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 998;
}
.edit_detail{display:none !important;}
#detail_count{position: absolute;left: 0;top: 0;bottom: 0;color: #7c7c7c;}
#close_cart{position: absolute;right: 0;top: 0;color: #7c7c7c;cursor:pointer; }
.sidebar{width: calc(270px);z-index: 99;position: fixed;background: #FFFFFF;height: 100%;left: 0;}
.sidebar.responsive,.sidebar-search--hidden{ transform: translateX(-100vw); }
.sidebar-cart{top: 0;transform: translateX(-100vw);box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.02);visibility: hidden; z-index: -1;}
.sidebar.open,#menu_container.open{ transform: translateX(0) !important; }
.sidebar-cart.open{visibility: visible; z-index: 9999;}
.sidebar_header{padding: 7px 20px;display: flex; align-items: center;}
/* .sidebar_close{cursor: pointer;font-size: 20px; margin-right: 15px;} */
.sidebar_body { overflow-y: scroll; padding: 15px 27px; height: calc(100% - 61.16px);}
.sidebar_body::-webkit-scrollbar {-webkit-appearance: none;}
.sidebar_body::-webkit-scrollbar:vertical {width:6px;}
.sidebar_body::-webkit-scrollbar-button:increment,
.sidebar_body::-webkit-scrollbar-button {display: none;} 
.sidebar_body::-webkit-scrollbar:horizontal {height: 5px;}
.sidebar_body::-webkit-scrollbar-thumb {background-color: #c1c1c1;border-radius: 0px;border: 0px solid #FFFFFF;}
.sidebar_body::-webkit-scrollbar-track {border-radius: 0px;}
#details_cart { overflow-y: scroll;overflow-x:hidden; height: calc(100% - 153px);}
#details_cart::-webkit-scrollbar {-webkit-appearance: none;}
#details_cart::-webkit-scrollbar:vertical {width:6px;}
#details_cart::-webkit-scrollbar-button:increment,
#details_cart::-webkit-scrollbar-button {display: none;} 
#details_cart::-webkit-scrollbar:horizontal {height: 5px;}
#details_cart::-webkit-scrollbar-thumb {background-color: #c1c1c1;border-radius: 0px;border: 0px solid #FFFFFF;}
#details_cart::-webkit-scrollbar-track {border-radius: 0px;}
.color_box {border-radius: 50%; border: 1px solid #ebebeb; }
.color_box--sidebar{
  width: 24px;
  height: 24px;
  margin: 0px 2px;
  position: relative;
}
.color_box input{
  overflow: hidden;
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: -1px;
  left: -1px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.color_box input:checked { border: 2px solid #7ecfef; border-radius: 50%; }

/*---------------------- SNIPPETS ----------------------*/
/* PREVIEW PRODUCT's*/
.pvw-product-image {
  max-width: 500px;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #fbfbfb;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.pvw-product-image img, .product__img img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.pvw-product{min-height: 350px;}
.pvw-product, .user_session ,.add-address,.user_address{
  position: relative;
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.15);
  border: none;
  background-color: #FFFFFF;
}
.pvw-product-data{padding: 0 15px;margin-top: 0.5rem;}
.pvw-product--name{ font-size: 17px; font-weight: bold; line-height: 19px; display: inline-block; }

.pvw-product-1--color,.pvw-product-1--categories,.pvw-product-3--color{ margin: 0; text-transform: uppercase; font-size: 13px; }
.pvw-product-1--price,.pvw-product-3--price{font-size: 13px;margin-bottom: 0;}
.pvw-product-1--buttons { display: inline-flex; }
.pvw-product-1--btn{ width: 50%; border-radius: 0 !important; display: inline-flex; overflow: hidden; align-items: center; padding: 13px 7px; justify-content: center;}
.pvw-product-1--btn--preview,.pvw-product-2--btn--preview,.pvw-product-3--btn--preview { opacity: 0.8; }
.pvw-product-1--btn-txt{ font-weight: bold; font-size: 14px;}
.pvw-product-1--code,
.pvw-product-2--color,.pvw-product-2--code,
.pvw-product-3--code,
.pvw-product-4--code,.pvw-product-4--color{ color: #7c7c7c; text-transform: uppercase; font-size: 13px; }
.pvw-product-1-hover{
  position: absolute;
  top: 4%;
  background: #f7f7f7;
  padding: 20px 15px;
  left: 15px;
  box-shadow: 0px 0px 8px -2px rgb(0 0 0 / 15%);
  border-radius: 19px;
  right: 15px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.pvw-product-1--name,.pvw-product-2--name{margin-bottom: 0;}
.pvw-product-2--code{margin-bottom: 12px;}
.pvw-product-2--price,.pvw-product-4--price{font-size: 15px;margin-bottom: 0;font-weight: bold;}
.pvw-product-3-image{border-bottom: 1px solid #f3f3f3;}
.pvw-product-3--btn{ position: absolute; bottom: -19px; right: 15px; }
.pvw-product-2--btn,.pvw-product-3--btn{opacity: 0.8;}
.pvw-product-2--btn{
  padding: 8px 3px;
  width: 38px;
  height: 38px;
  line-height: 0;
  font-size: 20px;
}
.pvw-product:hover .pvw-product-2--btn,.pvw-product:hover .pvw-product-3--btn{opacity: 1;}
.pvwProduct_color{width: 15px; height: 15px; margin-right: 3px;}

.pvw-product-image,.pvw-product--btn--loader{background-color: #d9d9d9 !important;}
.pvw-product--btn--loader{color: #878787;}
/* CART's*/
.sidebar-cart{width: 340px;}
.sidebar-cart--header{position: relative;margin: 15px 20px;}
.quantity-action::-webkit-inner-spin-button,
.quantity-action::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
.quantity-action{ -moz-appearance: textfield; }
.cart-item--name{ font-size: 15px; margin: 0; font-weight: bold; }
.cart-item--code{ text-transform: uppercase; margin: 0;}
.cart-1-item--price,.cart-3-item--price{font-weight: bold;}

.sidebar-cart-style-2{background: #fafafa;}
.cart-2-item-main {
  background: white;
  padding: 7px 6px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 12px -9px black;
  position: relative;
}
.cart-2-item-row{ align-items: center; }
.cart-2-item--qty-box{ border-radius: 8px; border: 1px solid #d2d2d2; }
.cart-2-item--qty{padding: 0; border: 0; }
.cart-3-item--qty-btn{
  border-radius: 50%;
  height: 34px;
  min-width: 34px;
  line-height: 0;
  padding: 0;
  background: #cccccc;
  font-size: 17px;
}

.sidebar-cart--full{width: 100%;}
.sidebar-cart--full table th{background-color: #fff;}
/*---------------------- END SNIPPETS ----------------------*/
/*PRODUCT DETAIL*/
.product__breadcrumb {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}
.category-link{ display: inline-block; }
.category-link::after {
    content: '/';
    margin: 0 5px;
    color: #d7d5d5;
    font-size: 10px;
}
.category-link:last-child::after { content: ''; }
.product_container strong{font-weight: bold;}
.product__img{position: relative;display: block;aspect-ratio: 1 / 1;}
.product__icon_zoom{position: absolute; bottom: 11px; right: 9px;font-size: 18px; opacity: 0.8;z-index: 99;}
.product__gallery_list{
    backdrop-filter: blur(2px);
    background-color: rgb(0 0 0 / 10%);
    margin: 0px 0;
    padding: 5px 35px 5px 15px;
}
.product__gallery_bg{
    height: 45px !important;
    width: 45px !important;
    opacity: 0.6 !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 3px !important;
    border: 0 !important;
}
.product__gallery_bg:hover { opacity: 1 !important; }
.color_box--detail{
    width: 35px;
    height: 35px;
    margin-bottom: 9px;
}
.product__name{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 4px;
    line-height: 40px;
}
.product__prices{
    font-size: 40px;
    font-weight: bold;
}
.product__code_detail{
    color: #979797;
    font-weight: 600;
    font-size: 20px;
}
.product__cart_box {
    width: 50%;
    display: flex;
}
.product_info > p {margin-bottom: 4px;}
#related { background: rgb(246, 246, 246); padding: 6rem 0; margin: 5rem 0 4rem; }
.pvw_product_parent{ display: block; border: 1px solid #dbdbdb; }
.category-link{color: #f6f6f6;}
.btn-mycavi-breadcrumb{border: 1px solid #FFFFFF!important;}
.custom-separator {display: flex;align-items: center;text-align: center;}
.custom-separator::before,
.custom-separator::after {content: '';flex: 1;border-bottom: 1px solid #7d7d7d;}
.custom-separator:not(:empty)::before {margin-right: 10px;}
.custom-separator:not(:empty)::after {margin-left: 10px;}
.productLogoModal_dismiss{position:absolute;right:15px;top:15px;z-index: 2;}
.productLogoModal_dismiss span{font-size:32px}
#error_input{font-size:13px; color:red}
.input-no-arrows::-webkit-outer-spin-button,
.input-no-arrows::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
.input-no-arrows[type=number] {-moz-appearance: textfield;}
@keyframes fade-up-animate {0% {opacity: 0;transform: translateY(20px);}100% {opacity: 1;transform: translateY(0);}}
.fade-up-animate {animation: fade-up-animate 0.5s ease-out forwards;}
.txt-grey-min{font-size: 14px;color: #b9b9b9;font-weight: 400;}
.btn-input-qty{border-color: rgba(0,0,0,0.2) !important; padding: 2px !important;touch-action: manipulation;}
.btn-minus{border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important;}
.btn-plus{border-top-left-radius: 0px !important; border-bottom-left-radius: 0px !important;}
.powered-skyforge{font-size: 13px;color: #abababee;position: absolute;bottom: 10px; right: 20px;}
#productLogoModal .modal-content{padding:0px !important}
@media (max-width: 991px) {
  #showOptionsPLImage,#showOptionsPLText { height: 245px; overflow: auto; }
}
@media screen and (min-width: 772px) {
  .product__name{ font-size: 50px; line-height: 52px; }
}
/*END PRODUCT DETAIL*/
.user_edit_address_btn_txt,
.user_exit_session_btn_txt {
  margin-right: 10px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  display: none;
  opacity: 0;
}
.user_edit_address__btn,
.user_exit_session__btn {
  width: 45px;
  display: block;
  height: 38px;
  overflow: hidden;
}
.user_address:hover .user_edit_address__btn, .user_session:hover .user_exit_session__btn  {width: 100%; border-radius: 0;}
.user_address:hover .user_edit_address_btn_txt, .user_session:hover .user_exit_session_btn_txt {transition-delay:0.5s;display: inline-block;opacity: 1;}
#sesiones-tab,#direcciones-tab{color: #000;}
/*pagination filters*/
.btn_pagination{
    padding: 0px 8px;
    display: inline-block;
    margin: 0px 5px;
    border-radius: 10px 0;
    font-weight: bold;
    font-size: 18px;
}
.total_pagination, .actual_pagination {
    padding: 0px 11px;
    display: inline-block;
    margin: 0px 2px;
}
.actual_pagination { font-weight: bold; }
.btn_pagination[disabled]{ opacity: .5; }
/*----Forms----*/
.form-group{position: relative}
.form-control:disabled, .form-control[readonly]{ background-color: #f9f9f9 !important; opacity: 0.8;border: 0; }
.form-control, .form-select{background-color: transparent !important;border-color: rgba(0,0,0,0.2);}
.form-control.validation-error{border: 1px solid red;}
div.validation-error{position: absolute; bottom: -17px; background-color: #ffd7d7; color: red; padding: 2px 10px; font-size: 13px; font-weight: bold; left: 26px;}
/*----Modals----*/
.modal-content{padding: 30px 20px;}
.modal-content .ttl_font {font-size: 16px; font-weight: bold;}

/*----Tables----*/
table.table{ width: 100% !important; border-radius: 5px; overflow: hidden; }
.dataTables_length,.dataTables_filter{ margin-bottom: 10px; }
.table th{
  font-size: 13px;
  background: #646464;
  color: #f4f4f4;
  font-weight: 500;
  border: 0;
}
.table td { font-size: 15px; vertical-align: middle; border: none; padding: 7px 0.5rem;}
.table tr { border-top: 1px solid white; border-bottom: 0; }
.dataTables_info,.dataTables_paginate{font-size: 13px;}
.btn-table{padding: 1px 19px; font-size: 13px; border-radius: 5px !important;}
/*----Medias----*/
@media screen and (max-width: 728px) {
  .header-style-2--main { padding: 8px 15px; }
  .header_logo_img{max-width: 130px;}
  .header-style-2--btn{padding: 7px 9px;}
  .header-style-2--btn-menu { padding: 4px 6px; margin-left: 5px; }
}
@media screen and (min-width: 991px){
  .main_container--normal{width:calc(100% - 270px);float: right;}
  .header-style-1 .menu_item{ display:inline-block; padding: 20px 9px; border-bottom: 3px solid transparent; font-size: 15px;}
  .header-style-1 .submenu_close {display: none;}
  .header-style-1-submenu-container { box-shadow: 0px 16px 17px -14px rgba(0,0,0,0.2); }
  .header-style-1-submenu[data-column="2"]{ column-count: 2; }
  .header-style-1-submenu[data-column="3"]{ column-count: 3; }
  .header-style-1-submenu[data-column="7"]{ column-count: 7; }
  .pvw-product:hover .pvw-product-1-hover { z-index: 2; opacity: 1; visibility: visible; }
}
@media(max-width: 728px) {
  .table-bg{overflow-x: auto;}
}

#toadmin{
  position: fixed;
  bottom: 140px;
  right: 2%;
  padding: 6px;
  border-radius: 50%;
  box-shadow: rgb(49 48 47 / 37%) 4px -1px 6px -1px;
  z-index: 10;
  background-color: #FFFFFF;
}
#totop{
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: 5%;
  right: 2%;
  transform: translateX(35px);
  padding: 6px 10.5px;
  border-radius: 50%;
  box-shadow: rgba(49, 48, 47, 0.18) 0px 2px 5px 0px;
  -webkit-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
  z-index: 10;
}
#totop.active{visibility: visible; opacity: 1; transform: translateX(0); cursor: pointer; }
#totop i{font-size: 15px;}

.color_box.amarillo{ background-color:  #F9F50C;}
.color_box.azul, .color_box.azul-dama{ background-color:  #006CBA ;}
.color_box.beige{ background-color:  #ECE4B0}
.color_box.blanco{ background-color:  #FFFFFF}
.color_box.cafe{ background-color: #9B4A04 }
.color_box.gris{ background-color:  #B0AFAD ;}
.color_box.gris-obscuro{ background-color:  #808080 ;}
.color_box.madera{ background-color:  #CB914A;}
.color_box.morado{ background-color:  #A148A0 ;}
.color_box.naranja{ background-color:  #F88323;}
.color_box.negro{ background-color:  #000000;}
.color_box.rojo{ background-color:  #F21823;}
.color_box.rosa{ background-color:  #FCAEC9;}
.color_box.verde{ background-color:  #24B900;}
.color_box.vino{ background-color:  #900404;}
.color_box.coral{ background-color:  #FF7062;}
.color_box.transparente{ background-image: url("https://mycavi.com/public/color_transparent.png");background-position: center; background-repeat: no-repeat; background-size: auto;}
.color_box.multicolor,.color_box.varios {
  background: rgb(180, 58, 58);
  background: -moz-linear-gradient(90deg, rgba(180, 58, 58, 1) 0%, rgba(255, 231, 0, 1) 20%, rgba(10, 248, 28, 1) 40%, rgba(0, 243, 249, 1) 60%, rgba(51, 52, 252, 1) 80%, rgba(228, 69, 252, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(180, 58, 58, 1) 0%, rgba(255, 231, 0, 1) 20%, rgba(10, 248, 28, 1) 40%, rgba(0, 243, 249, 1) 60%, rgba(51, 52, 252, 1) 80%, rgba(228, 69, 252, 1) 100%);
  background: linear-gradient(90deg, rgba(180, 58, 58, 1) 0%, rgba(255, 231, 0, 1) 20%, rgba(10, 248, 28, 1) 40%, rgba(0, 243, 249, 1) 60%, rgba(51, 52, 252, 1) 80%, rgba(228, 69, 252, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b43a3a", endColorstr="#e445fc", GradientType=1);
}
.color_box.bambu { background-color: #e2b893; }
.color_box.carton { background-color: #aa9167; }
.color_box.cobre { background-color: #B87333; }
.color_box.humo { background-color: #141414; }
.color_box.terracota { background-color: #914f3f; }
.color_box.dorado{
  background: rgb(205, 170, 20);
  background: -moz-linear-gradient(90deg, rgba(205, 170, 20, 1) 23%, rgba(255, 226, 0, 1) 49%, rgba(208, 153, 36, 1) 79%);
  background: -webkit-linear-gradient(90deg, rgba(205, 170, 20, 1) 23%, rgba(255, 226, 0, 1) 49%, rgba(208, 153, 36, 1) 79%);
  background: linear-gradient(90deg, rgba(205, 170, 20, 1) 23%, rgba(255, 226, 0, 1) 49%, rgba(208, 153, 36, 1) 79%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdaa14", endColorstr="#d09924", GradientType=1);
}
.color_box.plata,.color_box.plata-dama,.color_box.plata-caballero, .color_box.acero, .color_box.aluminio, .color_box.titanio{
  background: rgb(135, 135, 135);
  background: -moz-linear-gradient(90deg, rgba(135, 135, 135, 1) 25%, rgba(166, 169, 170, 1) 51%, rgba(136, 136, 136, 1) 75%);
  background: -webkit-linear-gradient(90deg, rgba(135, 135, 135, 1) 25%, rgba(166, 169, 170, 1) 51%, rgba(136, 136, 136, 1) 75%);
  background: linear-gradient(90deg, rgba(135, 135, 135, 1) 25%, rgba(166, 169, 170, 1) 51%, rgba(136, 136, 136, 1) 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#878787", endColorstr="#888888", GradientType=1);
}
.color_box.tornasol{
  background: rgb(129, 117, 149);
  background: -moz-linear-gradient(90deg, rgba(129, 117, 149, 1) 10%, rgba(47, 39, 167, 1) 32%, rgba(129, 117, 149, 1) 53%, rgba(0, 146, 255, 1) 69%, rgba(73, 92, 161, 1) 82%);
  background: -webkit-linear-gradient(90deg, rgba(129, 117, 149, 1) 10%, rgba(47, 39, 167, 1) 32%, rgba(129, 117, 149, 1) 53%, rgba(0, 146, 255, 1) 69%, rgba(73, 92, 161, 1) 82%);
  background: linear-gradient(90deg, rgba(129, 117, 149, 1) 10%, rgba(47, 39, 167, 1) 32%, rgba(129, 117, 149, 1) 53%, rgba(0, 146, 255, 1) 69%, rgba(73, 92, 161, 1) 82%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#817595", endColorstr="#495ca1", GradientType=1);
}
.popover {
  z-index: 99999 !important;
}